@import "tailwindcss";

@font-face {
  font-family: "font1";
  src: url(../public/fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: "font2";
  src: url(../public/fonts/Lausanne-500.woff2);
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111;
  color: #ebe9e9;
}
.movelink {
 opacity: 0;
 transition: all ease 0.3s;
}
.movelink:hover {
  opacity: 1;
}
.movex{
  animation-name: moveAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes moveAnimation{
  from {trnsform: translateX(0);
  }
  to {transform: translateX(-100%);
  }
}